Repository rubixibuc/mf-heroku-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html, build-scripts stylelint --fix, build-scripts prettier --fix

bump @rubixibuc/build-scripts
  package-lock.json
  package.json
Due: build-scripts prettier --fix

use more standard hybrids component definition implementation pattern
  src/components/home/index.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html

select root div element instead of body
  package-lock.json
  package.json
  src/routes/index.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html, build-scripts prettier --fix

bump @rubixibuc/build-scripts
  package-lock.json
  package.json
  src/components/home/index.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html, build-scripts prettier --fix

bump @rubixibuc/build-scripts
  build-scripts.config.js
  exposes.json
  links.json
  package-lock.json
  package.json
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html, build-scripts prettier --fix

fix bad require()
  build-scripts.config.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html

bump @rubixibuc/build-scripts. use APP_NAME env var
  .env
  build-scripts.config.js
  package-lock.json
  package.json
  src/bootstrap.js
  src/components/home/index.js
  src/routes/index.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html, build-scripts prettier --fix

remove APP_NAME env var
  .env
  build-scripts.config.js
  src/components/home/index.js
  src/routes/index.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html

remove console.log()
  src/components/home/index.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html

rename component main css files
  src/components/home/index.css
  src/components/home/index.js
  src/routes/index.css
  src/routes/index.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html, build-scripts stylelint --fix

try throw error. rename css files back for now
  src/components/home/home.css
  src/components/home/index.js
  src/routes/index.js
  src/routes/routes.css
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html, build-scripts stylelint --fix

remove test error
  src/components/home/index.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html

rename css files -> styles.css. bump packages (hybrids)
  package-lock.json
  package.json
  src/components/home/index.js
  src/components/home/styles.css
  src/routes/index.js
  src/routes/styles.css
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html, build-scripts stylelint --fix, build-scripts prettier --fix

change color to rgb
  src/components/home/styles.css
Due: build-scripts stylelint --fix

split out assets into (images | data)
  build-scripts.config.js
  src/components/home/index.js
  src/images/front-end.png
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html

fix image import
  src/components/home/index.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html

bump @rubixibuc/build-scripts. rename css files
  package-lock.json
  package.json
  src/components/home/index.js
  src/components/home/scoped.css
  src/global.css
  src/routes.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html, build-scripts stylelint --fix, build-scripts prettier --fix

move global.css from routes.js to bootstrap.js
  src/bootstrap.js
  src/routes.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html

update lint-staged config
  .lintstagedrc.json
Due: build-scripts prettier --fix

update readme
  README.md
Due: build-scripts prettier --fix

add site description
  build-scripts.config.js
  metas.json
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html, build-scripts prettier --fix

remove css polyfill
  src/bootstrap.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html

fix safari css
  src/components/home/index.js
Due: build-scripts eslint --cache --fix, build-scripts stylelint --fix --custom-syntax postcss-html

Path conditions:
  build-scripts eslint --cache --fix: any of: *.js
  build-scripts stylelint --fix --custom-syntax postcss-html: (any of: *.js) or (any of: *.html)
  build-scripts stylelint --fix: any of: *.css
  build-scripts prettier --fix: any of: *.{json,html,md}
