Repository rubixibuc/mf-heroku-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html, prettier --write

add app.json for heroku button
  app.json
Due: prettier --write

add README.md with heroku button
  README.md
Due: prettier --write

update README
  README.md
Due: prettier --write

reverse buildpacks
  app.json
Due: prettier --write

update home component
  src/components/home.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

add image support
  src/components/home.js
  src/images/front-end.png
  webpack.config.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

change devServer port
  webpack.config.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

fix husky
  .husky/.gitignore
  .husky/pre-commit
Due: none

bump version
  package.json
Due: prettier --write

expose home component
  webpack.config.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

add support for constructable stylesheets
  package-lock.json
  package.json
  src/assets/front-end.png
  src/components/home.js
  src/components/home/home.css
  src/components/home/index.js
  src/routes.js
  webpack.config.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html, prettier --write

fix css-loader
  webpack.config.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

remove index.html template and auto generate it. fix stylelint. remove unused packages.
  .lintstagedrc.json
  package-lock.json
  package.json
  public/index.html
  src/components/home/home.css
  webpack.config.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html, prettier --write

fix constructable stylesheets. refactor routing logic
  package-lock.json
  package.json
  src/bootstrap.js
  src/routes/index.js
  src/routes/routes.css
  webpack.config.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html, prettier --write

use synchronous webcomponent polyfill
  src/bootstrap.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

add google Roboto Mono font. update demo styling
  package-lock.json
  package.json
  src/components/home/home.css
  src/components/home/index.js
  src/routes/index.js
  src/routes/routes.css
  webpack.config.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html, prettier --write

add favicon support
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html, prettier --write

use explicit relative path for favicon
  webpack.config.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

update readme. update app.json
  README.md
  app.json
Due: prettier --write

update home component layout
  src/components/home/home.css
  src/components/home/index.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

change home component styling
  src/components/home/home.css
  src/components/home/index.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

add "demo" to home component
  src/components/home/index.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

fix home component gradient text
  src/components/home/index.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

use @rubixibuc/build-scripts
  .eslintrc.json
  .lintstagedrc.json
  .stylelintrc.json
  build-scripts.config.js
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html, prettier --write

bump @rubixibuc/build-scripts
  package-lock.json
  package.json
Due: prettier --write

remove comments
  build-scripts.config.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

bump @rubixibuc/build-scripts
  build-scripts.config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html, prettier --write

update logo path
  build-scripts.config.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

bump @rubixibuc/build-scripts. use css?style loading
  .lintstagedrc.json
  package-lock.json
  package.json
  src/routes/index.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html, prettier --write

fix (alias) import. add exposes, shared to config
  build-scripts.config.js
  src/components/home/index.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

fix imports
  build-scripts.config.js
  src/routes/index.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html

bump @rubixibuc/build-scripts
  package-lock.json
  package.json
  src/bootstrap.js
Due: eslint --cache --fix, stylelint --fix --custom-syntax postcss-html, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  stylelint --fix --custom-syntax postcss-html: (any of: *.js) or (any of: *.{html,css})
  prettier --write: any of: *.{json,html,md}
